.about
  .about__inner
    .about__image
      .about__img-mask
      .about__img
        img(src="../assets/images/about/about__img.png")

    .about__content
      h1.about__content-h1
        | About MySelf
      .about__content-text
        | Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a briliant Art Director and pro Photographer based in the San Francisco where I make cool things for agencies and brands around globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to our users and integrate their feature requests on a regular basis. If you like my work then please do not hesitate to reach out.
      h2.about__content-h2
        | What I Do?
      .about__content-photos
        .about__photos-item
          .about__photos-title
            | FASHION
          img(src="../assets/images/about/about__fashion.png").about__photos-img

        .about__photos-item
          .about__photos-title
            | PORTRAITS
          img(src="../assets/images/about/about__fashion.png").about__photos-img

        .about__photos-item
          .about__photos-title
            | LIFESTYLE
          img(src="../assets/images/about/about__fashion.png").about__photos-img

      a(href="#").about__link
        | View My Flickr Profile


