.blog
  .blog__inner
    .blog__first
      .blog__title
        | Blog
      .blog__text
        | The point of using Lorem Ipsum is that it has a non  more-or-less  normal distri bution of letters, as cliper opposed. a closer look to our fully,
      .blog__item
        .blog__item-img(style="background: url('/assets/images/blog__item.png') no-repeat")
          |
        .blog__item-title
          | Design is the method of putting form and content together .
        .blog__item-date
          <b>Life style </b>- July 3, 2017
        .blog__item-text
          | Sed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.
        .blog__item-link
          | Read More

    .blog__second
      .blog__item
        .blog__item-img(style="background: url('/assets/images/blog__item.png') no-repeat")
          |
        .blog__item-title
          | Design is the method of putting form and content together .
        .blog__item-date
          <b>Life style </b>- July 3, 2017
        .blog__item-text
          | Sed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.
        .blog__item-link
          | Read More
    .blog__third
      .blog__item
        .blog__item-img(style="background: url('/assets/images/blog__item.png') no-repeat")
          |
        .blog__item-title
          | Design is the method of putting form and content together .
        .blog__item-date
          <b>Life style </b>- July 3, 2017
        .blog__item-text
          | Sed ut perspiciatis unde omnis iste natus error sit lao hoksi voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni eaque ipsa quae ab cok illo inven tore siva.
        .blog__item-link
          | Read More
