.clients
  .clients__inner
    .clients__title
      | Happy Clients
    .clients__items
      .clients__item
        img(src="../assets/images/clients/logo1.png")
      .clients__item
        img(src="../assets/images/clients/logo2.png")
      .clients__item
        img(src="../assets/images/clients/logo3.png")
      .clients__item
        img(src="../assets/images/clients/logo4.png")
      .clients__item
        img(src="../assets/images/clients/logo5.png")
      .clients__item
        img(src="../assets/images/clients/logo6.png")
