.clients
  .clients__inner
    .clients__title
      | Happy Clients
    .clients__items
      .clients__item
        img(src="../assets/images/clients_logo1.png")
      .clients__item
        img(src="../assets/images/clients_logo2.png")
      .clients__item
        img(src="../assets/images/clients_logo3.png")
      .clients__item
        img(src="../assets/images/clients_logo4.png")
      .clients__item
        img(src="../assets/images/clients_logo5.png")
      .clients__item
        img(src="../assets/images/clients_logo6.png")
