.work
  .work__inner
    .work__title
      | Let's work?
    form.work__form
      input(type="text" placeholder="*Your name" name="name").work__input
      input(type="text" placeholder="*Your email" name="email").work__input
      textarea(placeholder="Your message..").work__textarea
      input(type="submit" value="SEND MESSAGE" name="message").work__submit

