.portfolio
  .portfolio__inner
    .portfolio__content
      h1.portfolio__h1
        | Portfolio
      .portfolio__text
        | The point of using Lorem Ipsum is that it has a non more-or-less dik sonormal distri bution of letters, as cliper opposed. a closer look to our fully furnished and beautiful demos, which can be use easily On this find website you can find some pictures I've taken during my travel. a clo look to our fully furnished and so beautful demos, which can be use.
      a(href="#").portfolio__link
        | Read More...

    .portfolio__photo
      //.portfolio__photo-block1
      //  .portfolio__photo-item.ph-item1(style='background: url("/assets/images/portfolio/ph1.png");')
      //    .portfolio__photo-socials
      //      div.ya-share2(data-services="collections,vkontakte,facebook" data-size="s")
      .portfolio__grid-container
        .ph1
          img(src='/assets/images/portfolio/ph1.png')
        .ph2
          img(src='/assets/images/portfolio/ph2.png')
        .ph3-4
          div
            img(src='/assets/images/portfolio/ph3.png')
          div
            img(src='/assets/images/portfolio/ph4.png')
        .ph5-6
          div
            img(src='/assets/images/portfolio/ph5.png')
          div
            img(src='/assets/images/portfolio/ph6.png')
        .ph7
          img(src='/assets/images/portfolio/ph7.png')
        .link
          a(href="#").portfolio__see-more
            | See More





